.post-text{
    word-wrap: break-word;
    width:100%;
}

.width-100{
    width:100%;
}

.mrgn-5{
    margin: 5px;
}

.mrgn-10{
    margin: 10px;
}

.v-mrgn-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.v-mrgn-10{
    margin-top: 10px;
    margin-bottom: 10px;
}


.hr-5{
    margin-top: 5px;
    margin-bottom: 5px;
}

.composer-profiles-wrapper{
    width:100%;
}

.composer-profiles-wrapper .facebook-profiles-btngroup ,
.composer-profiles-wrapper .twitter-profiles-btngroup ,
.composer-profiles-wrapper .googleplus-profiles-btngroup{
    margin-right: 5px;
}

textarea.form-control.post-message-textarea{
    height: 300px;
}

#publish-composer-post,
#edit-composer-post,
#cancel-edit-composer-post{
    float:right;
    margin:5px;
}

.composer-profile-listitem{
    padding:5px;
}

.composer-profiles{
    box-shadow: 0 3px 10px rgba(0,0,0,.2);
}

.composer-profile-listitem span{
    padding:5px;
}

.composer-profile-listitem span{
    display:inline;
}

img.composer-remote-image,
img.edited-post-image{
    border:1px #D2D6DE solid;
    padding:5px;
    border-radius: 2px;
    width:100%;
    box-shadow: 1px 1px 5px 0 #a2958a;
}

.edited-post-image-inner-wrapper,
.composer-remote-image-inner-wrapper{
    width:60%;
    margin: 0 auto;
    position: relative;
}

div.remove-image{
    position: absolute;
    right: 7px;
    top:0;
    color:red;
    opacity:1;
    float: right;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
 }

div.remove-image:hover{
    color: #990005;
}

/*spinner*/
.spinner-stack {
    width: 50px;
    height: 20px;
    text-align: center;
    font-size: 10px;
    margin:0;
}

.spinner-stack > div {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;

    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner-stack .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner-stack .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner-stack .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner-stack .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}


/* fb callback modal*/
#fb-callback-modal .user-acc label.wrapper-label-item,
#fb-callback-modal .user-page label.wrapper-label-item{
    width:100%;
}

#fb-callback-modal .user-acc label.checkbox-label,
#fb-callback-modal .user-page label.checkbox-label{
    width:85%;
    padding:10px;
}

#fb-callback-modal .user-acc img.picture,
#fb-callback-modal .user-page img.picture{
    width:6%;
}

#fb-callback-modal .user-acc label.wrapper-label-item:hover,
#fb-callback-modal .user-page label.wrapper-label-item:hover {
    background: #f4f8fd;
}


/* profile */

.random-user-acc,
.follower-user-acc,
.followed-user-acc{
    width:100%;
    margin:0;
    margin-top:10px;
    height:100px;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
}

.random-user-acc:hover,
.follower-user-acc:hover,
.followed-user-acc:hover{
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.49);
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.49);
}


.random-user-acc > div,
.random-user-acc img,
.follower-user-acc > div,
.follower-user-acc img,
.followed-user-acc > div,
.followed-user-acc img{
    height:100%;
}

.random-user-acc > div > p,
.follower-user-acc > div > p,
.followed-user-acc > div > p{
    margin-top: 34px;
    text-align: center;
}

.profile-random-user-view,
.profile-random-user-follow,
.profile-follower-user-view,
.profile-follower-user-follow,
.profile-follower-user-unfollow,
.profile-followed-user-view,
.profile-followed-user-follow,
.profile-followed-user-unfollow{
    width:100%;
    margin: 2px;
}

.profile-random-users-actions,
.profile-follower-users-actions,
.profile-followed-users-actions{
padding:12px;
}

a.add-social-acc{
    position: absolute;
    right:10px;
    top:10px;
}

div.uploadUserAvatar {
    position: absolute;
    right: 5px;
    top:0;
    width: 30px;
    height: 30px;
    background: url('/img/icons/upload-icon.png');
    background-size: 100%;
    overflow: hidden;
}

div.uploadUserAvatar input {
    display: block !important;
    width: 30px !important;
    height: 30px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}

/* fb embed */
.fb-post-embed-wrapper iframe{
    width:100%;
    height: 320px;
}

.composer-remote-video-inner-wrapper iframe{
    width:350px;
    height: 350px;
}

/* stats */
.fb-post-statistics i.fa-thumbs-up,.gg-post-statistics i.fa-thumbs-up, .yt-post-statistics i.fa-thumbs-up{
    color: #f89400;
}

.fb-post-statistics i.fa-comment,.gg-post-statistics i.fa-comment, .yt-post-statistics i.fa-comment{
    color: #0095f3;
}

.fb-post-statistics i.fa-share-square-o,.gg-post-statistics i.fa-share-square-o, .yt-post-statistics i.fa-eye{
    color: #00b84c;
}

.fb-post-statistics span, .tw-post-statistics span, .gg-post-statistics span, .yt-post-statistics span{
    margin: 0 10px;
}

.tw-post-statistics i.fa-retweet{
    color: #f89400;
}

.tw-post-statistics i.fa-star-o, .yt-post-statistics i.fa-thumbs-down{
    color: #b51a1e;
}

.tw-post-statistics,.gg-post-statistics, .yt-post-statistics{
    margin-bottom: 10px;
}

/* promote pages */

h3.promote-step{
    text-align: left;
}

/* bootstrap switches */
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
    text-align: left;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}

/* datatables */
table.dataTable thead th {
    position: relative;
    background-image: none !important;
    padding-right: 22px;
}

table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
    position: absolute;
    top: 10px;
    right: 8px;
    display: block;
    font-family: FontAwesome;
}
table.dataTable thead th.sorting:after {
    content: "\f0dc";
    color: #ddd;
    font-size: 0.8em;
    padding-top: 0.12em;
}
table.dataTable thead th.sorting_asc:after {
    content: "\f0de";
}
table.dataTable thead th.sorting_desc:after {
    content: "\f0dd";
}

.promote-pages-spinner div {
    background: #00C0EF;
}