html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}



.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    margin-top: 100px;
    margin-bottom:20px;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/*social stream*/
.social-stream-container{
    margin: auto;
}

.social-stream-item{
    height: auto;
    width: 300px;
    margin-top: 50px;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    background: white;
}

.social-stream-item img {
    width:100%;
}

.social-stream-header{
    border: 1px solid #E6AE48;
    position: relative;
}

.social-stream-item .social-stream-time {
    color: #a67936;
}

.social-stream-item a.read-more,  .social-stream-popup a.read-more{
    color:white;
    background: #4F4F4F;

    text-decoration: none;
}

.social-stream-item .social-stream-footer{
    padding: 10px;
}


/*hover effect*/

.overlay{
    width:100%;
    height:100%;
    position:absolute;
    opacity:0;
    top:0;
    transition: all 0.3s;
}

.social-stream-header:hover > .overlay {
    background-color: #000;
    opacity: 0.6;
}



button.social-filter{
    padding: 10px;
    color:white;
    background: #4F4F4F;
}

.add-more-published-block{
    margin-bottom:20px;
    margin-top:50px;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.home-jumbotron{
    color:white !important;
    background-image: url(/img/main/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size:cover;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.social-stream-popup{
    background-color: #fff;
    border: 2px solid #222;
    text-align: center;
    box-shadow: 0 0 0 5px #fff;
    width:600px;
    margin:auto;
    padding:20px;
    position:relative;
}

button.mfp-close{
    background: black ;
    color:white !important;
    font-size: 28px;
}

.popup-header{
    position:relative;
}

/*social buttons */

.social-share-buttons{
    position:absolute;
    left:0;
    bottom:0;
    background: #D2D2D2;
    opacity:0.8;
    width:100%;
}

.social-share-buttons a {
    color: white;
    opacity:0.9;
}
.social-share-buttons a:hover {
    color: white;
    opacity:1;
}

.social-share-link-wr{
    width:50px;
    display: inline-block;
    margin:5px;
}

.social-share-buttons .btn-share-facebook {background: #3b5998;border-color:#172d5e;}
.social-share-buttons .btn-share-twitter {background: #00aced;border-color:#043d52;}
.social-share-buttons .btn-share-google-plus {background: #c32f10;border-color:#6b1301;}
.social-share-buttons .btn-share-soundcloud {background: #ff8800;border-color:#c73e04;}
.social-share-buttons .btn-share-github {background: #666666;border-color:#333333;}
.social-share-buttons .btn-share-steam {background: #878787;border-color:#292929;}
.social-share-buttons .btn-share-pinterest {background: #cc2127;border-color:#780004;}
.social-share-buttons .btn-share-vimeo {background: #1ab7ea;border-color:#162221;}
.social-share-buttons .btn-share-lastfm {background: #c3000d;border-color:#5e0208;}
.social-share-buttons .btn-share-yahoo {background: #400191;border-color:#230052;}
.social-share-buttons .btn-share-vk {background: #45668e;border-color:#1a3352;}
.social-share-buttons .btn-share-spotify {background: #7ab800;border-color:#3a5700;}
.social-share-buttons .btn-share-linkedin {background: #0976b4;border-color:#004269;}
.social-share-buttons .btn-share-stumbleupon {background: #eb4924;border-color:#943019;}
.social-share-buttons .btn-share-tumblr {background: #35465c;border-color:#142030;}